body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h1,h3,h4,h5,h6{
  font-family: 'Roboto',sans-serif;
}

/* COLORES */
.green{
  color: #4ea35f;
}
.orange{
  color: #eb9751;
}
.pink{
  color: #cb4389;
}
.gray{
  color: #606060;
}
.white{
  color: #ffffff;
}

/* BACKGROUNDS */
.green-bg{
  background-color: #4ea35f;
}
.orange-bg{
  background-color: #eb9751;
}
.pink-bg{
  background-color: #cb4389;
}
.gray-bg{
  background-color: #606060;
}
.white-bg{
  background-color: #ffffff;
}

/* ALINEACIONES */
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.justify{
  text-align: justify;
}

/* BOTONES */
.btn-big{
  max-width: 250px;
  font-weight: bold;
}
.btn-center{
  margin: auto;
}
.btn-green{
  background-color: #4ea35f;
}

/* HEADER */
.header-container{
  box-shadow: 0px 5px 5px #d9d9d9;
}

/* HOME */

.logo-pasos{
  max-width: 300px;
  margin: auto;
  display: block;
}

/* FOOTER */
.footer-logo{
  max-width: 132PX;
}