body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h1,h3,h4,h5,h6{
  font-family: 'Roboto',sans-serif;
}

/* COLORES */
.green{
  color: #4ea35f;
}
.orange{
  color: #eb9751;
}
.pink{
  color: #cb4389;
}
.gray{
  color: #606060;
}
.white{
  color: #ffffff;
}

/* BACKGROUNDS */
.green-bg{
  background-color: #4ea35f;
}
.orange-bg{
  background-color: #eb9751;
}
.pink-bg{
  background-color: #cb4389;
}
.gray-bg{
  background-color: #606060;
}
.white-bg{
  background-color: #ffffff;
}

/* ALINEACIONES */
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.justify{
  text-align: justify;
}

/* BOTONES */
.btn-big{
  max-width: 250px;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 3px 3px 5px #d9d9d9;
}
.btn-big:hover{
  box-shadow: 3px 3px 5px #ffffff;
}
.btn-center{
  margin: auto;
}
.btn-green{
  background-color: #4ea35f;
}
.btn-green:hover{
  color: #005e2c;
}

/* HEADER */
.header-container{
  box-shadow: 0px 5px 5px #d9d9d9;
}

/* HOME */

.logo-pasos{
  max-width: 300px;
  margin: auto;
  display: block;
}

/* FOOTER */
.footer-logo{
  max-width: 132PX;
}

/* MENU */
.menu-container ul {
  list-style: none;
  padding-left: 0;
}
.menu-container ul li .link-container{
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cb4389;
  padding:10px 0;
}
.menu-container ul li .link-container .button-container button{
  display: flex;
  width: 75px;
}
.menu-container ul li .link-container .button-container button:hover{
  color:#ffffff;
  background-color: #eb7d51;
}

.pdf-container iframe{
  width: 100%;
  height: 80vh;
  zoom: 0.89;
  -moz-transform: scale(0.89);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.89);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.89);
  -webkit-transform-origin: 0 0;
}
.btn-regresar{
  display: none;
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  .pdf-container iframe{
    zoom: 0.98;
    -moz-transform: scale(0.98);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.98);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.98);
    -webkit-transform-origin: 0 0;
  }
  .btn-regresar{
    display: block;
    max-width: 250px;
  }
}